<div>
  <div class="card-header">
    <h1>Create New Post</h1>
  </div>
  <form action="" id="new-post-form">
    <input type="text" id="new-post-title" />
    <textarea name="" id="new-post-body" cols="30" rows="10"></textarea>
    <button class="btn" id="new-post-button" type="submit">Create Post</button>
  </form>
</div>

<script src="/js/newPost.js"></script>