html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: rgb(31, 31, 31);
}

header {
  height: fit-content;
  background-color: white;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: palegreen 5px solid;
}
h1 {
  font-size: 5rem;
}

a {
  padding: 2rem;
}
